
<div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="closeModal()">×</button>
    <h4 id="myModalLabel" class="modal-title" data-translate="photographyPermit.reviewFilmingLocation"></h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-1"></div>
        <label class="col-sm-3">{{'address.Emirate' | translate}}</label>
        <div class="col-sm-7">{{location.address.emirate | localizeString}}</div>
        <div class="col-sm-1"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-1"></div>
        <label class="col-sm-3">{{'address.Community' | translate}}</label>
        <div class="col-sm-7">{{location.address.community | localizeString}}</div>
        <div class="col-sm-1"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-1"></div>
        <label class="col-sm-3">{{'address.Street' | translate}}</label>
        <div class="col-sm-7">{{location.address.street}}</div>
        <div class="col-sm-1"></div>
    </div>
    <br />
</div>
<div class="modal-footer">
    <button ng-click="ok()" class="btn btn-primary">OK</button><button ng-click="closeModal()" class="btn btn-warning">Cancel</button>
</div>