<div class="app-view-header">{{'dashboard.home' | translate}}
   <small>{{app | localizeString}} - {{app.description | localizeString}}</small>
</div>
<div ng-controller="urgentController as approval">
    <div class="row">
        <div class="col-md-2 pull-right">
            <button class="btn btn-primary btn-md" btn-layer-morph="approval.click()" btn-layer="approval.filter" target="#layer-search"><span data-translate="general.filter"></span>&nbsp;&nbsp;<em class="fa fa-filter" aria-hidden="true"></em></button>
        </div>
    </div>
    <div class="row"><br /></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table datatable="" class="row-border hover" dt-options="approval.dtApplicationOptions" dt-columns="approval.dtApplicationColumns"
                   dt-instance="approval.dtApplicationInstance" width="100%"></table>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- Layer Morph-->
    <div class="layer-morph-overlay">
        <div class="layer-morph-inner bg-primary"></div>
    </div>
    <div layer-morph-close="" class="layer-morph-close">
        <em class="fa fa-close"></em>
    </div>
    <div class="layer-morph-container bg-primary">
        <div class="layer-morph-wrapper">
            <div id="layer-search" ng-include="'app/views/Dashboard/filter/filterDashboard.html'" class="layer-morph"></div>
            <div class="row">
                <div class="col-md-4 pull-right">
                    <button class="btn btn-warning btn-md" btn-layer="customerFilter">
                        {{"dashboard.removeFilter" | translate}}&nbsp;<em class="fa fa-close" aria-hidden="true"></em>
                    </button>
                    <button class="btn btn-default btn-md" btn-layer="customerFilter" layer-morph-filter="" ng-click="dashboard.filter(this)">
                        {{"dashboard.applyFilter" | translate}}&nbsp;<em class="fa fa-check" aria-hidden="true"></em>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Layer Morph-->
</div>