
<div class="app-view-header">
    {{'visit.visitList' | translate}}
    <small>{{app | localizeString}} - {{app.description | localizeString}}</small>
</div>

<div ng-controller="visitListController as visit">

    <div class="row" ng-if="visit.user.userTypeCode == '06'">

        <div class="col-md-5">
            <div>
                <button class="btn btn-warning btn-md pull-left" ng-click="visit.unscheduledvisit()">
                    <em class="fa fa-camera" aria-hidden="true"></em>
                </button>
            </div>
            <div ng-if="!visit.isObjectEmpty(visit.filterParams)">
                <span class="col-md-1">
                    <a ng-click="visit.exportExcel()" uib-tooltip="Excel">
                        <em class="fa fa-file-excel-o text-success fa-2x" style="cursor:pointer"></em>
                    </a>
                </span>
                <span class="col-md-1">
                    <a ng-click="visit.exportCSV()" uib-tooltip="CSV">
                        <em class="fa fa-file-text-o fa-2x" style="cursor:pointer"></em>
                    </a>
                </span>
                <span class="col-md-1">
                    <a ng-click="visit.exportPDF()" uib-tooltip="PDF">
                        <em class="fa fa-file-pdf-o text-danger fa-2x" style="cursor:pointer"></em>
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <button ng-if="visit.userFilters == null || visit.userFilters.length == 0" class="btn btn-primary btn-md pull-right" btn-layer-morph="visit.click()"
                    btn-layer="visit.filter" target="#layer-search">
                <span data-translate="general.filter"></span>&nbsp;&nbsp;<em class="fa fa-filter" aria-hidden="true"></em>
            </button>
            <div ng-if="visit.userFilters.length > 0" uib-dropdown="dropdown" class="btn-group mb-sm mr dropdown open pull-right">
                <button type="button" uib-dropdown-toggle="" ripple="" class="btn dropdown-toggle btn-primary" aria-haspopup="true" aria-expanded="true">
                    <span ng-if="visit.filterParams.userFilterId == undefined">{{'general.filter' | translate}}</span>
                    <span ng-if="visit.filterParams.userFilterId != undefined && visit.filterParams.userFilterId == visit.defaultUserFilter.id">{{visit.defaultUserFilter.name}}</span>
                    <span ng-if="visit.filterParams.userFilterId != undefined && visit.filterParams.userFilterId != visit.defaultUserFilter.id">{{visit.selectedUserFilter.name}}</span>&nbsp;
                    <span class="caret"></span>
                    <span class="ripple"><span class="angular-ripple"></span></span>
                </button>
                <ul role="menu" class="dropdown-menu">
                    <li>
                        <a href="" btn-layer-morph="visit.click()" btn-layer="visit.filter" target="#layer-search">
                            {{'dashboard.newFilter' | translate}}
                        </a>
                    </li>
                    <li ng-repeat="userFilter in visit.userFilters">
                        <a href="" ng-click="visit.userFilterData(userFilter)">{{userFilter.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table datatable="" ng-class="{'row-border hover color-blind' : app.layout.isColorBlind, 'row-border hover' : !app.layout.isColorBlind}"
                   dt-options="visit.dtApplicationOptions" dt-columns="visit.dtApplicationColumns"
                   dt-instance="visit.dtApplicationInstance" width="100%" id="visitDatatable"></table>
        </div>
    </div>

    <!-- Layer Morph-->
    <div class="layer-morph-overlay">
        <div class="layer-morph-inner bg-primary"></div>
    </div>
    <div layer-morph-close="" class="layer-morph-close">
        <em class="fa fa-close"></em>
    </div>
    <div class="layer-morph-container bg-primary">
        <div class="layer-morph-wrapper">
            <div id="layer-search" ng-include="'app/views/Inspection/visitList/filter/filterVisitList.html'" class="layer-morph"></div>
            <!--<div id="layer-search" ng-include="'app/views/Dashboard/filter/filterDashboard.html'" class="layer-morph"></div>-->
            <div class="row">
                <div class="col-md-4 pull-right">
                    <button class="btn btn-warning btn-md" btn-layer="customerFilter" layer-morph-close="" ng-click="visit.removeFilter(this)">
                        {{"dashboard.removeFilter" | translate}}&nbsp;<em class="fa fa-close" aria-hidden="true"></em>
                    </button>
                    <button class="btn btn-default btn-md" btn-layer="customerFilter" layer-morph-filter="" ng-click="visit.filter(this)">
                        {{"dashboard.applyFilter" | translate}}&nbsp;<em class="fa fa-check" aria-hidden="true"></em>
                    </button>
                </div>
            </div>
            <br /><br />
        </div>
    </div>
    <!--End Layer Morph-->

</div>