<div class="form-horizontal filter-container" ng-controller="FilterDashboardController as filterCtrl">
    <div class="row form-group">
        <div class="col-md-6">
            <label class="control-label">{{'address.Emirate' | translate}}</label>
            <ui-select ng-model="filterCtrl.filter.emirates" name="office" theme="bootstrap" class="form-control" style="cursor: pointer;"
                multiple>
                <ui-select-match placeholder="{{'address.Emirate' | translate}}">{{$item |
                    localizeString}}</ui-select-match>
                <ui-select-choices
                    repeat="emirate in filterCtrl.emirates | propsFilter: {nameAr: $select.search, nameEn: $select.search}">
                    <div ng-bind-html="emirate | localizeString | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>


        <div class="col-md-6" ng-if="filterCtrl.filter.emirates.length == 0 || filterCtrl.filter.emirates == null">
            <label class="control-label">{{'address.Region' | translate}}</label>
            <ui-select ng-model="filterCtrl.filter.regions" name="office" theme="bootstrap" class="form-control"
                multiple>
                <ui-select-match placeholder="{{'address.Region' | translate}}">{{$item |
                    localizeString}}</ui-select-match>
                <ui-select-choices
                    repeat="office in filterCtrl.regions | propsFilter: {nameAr: $select.search, nameEn: $select.search}">
                    <div ng-bind-html="office | localizeString | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-6" ng-if="filterCtrl.filter.emirates.length > 0">
            <label class="control-label">{{'address.Region' | translate}}</label>
            <ui-select ng-model="filterCtrl.filter.regions" name="office" theme="bootstrap" class="form-control"
                multiple>
                <ui-select-match placeholder="{{'address.Region' | translate}}">{{$item |
                    localizeString}}</ui-select-match>
                <ui-select-choices repeat="office in filterCtrl.regions | filterByEmirate: filterCtrl.filter.emirates">
                    <div ng-bind-html="office | localizeString | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>


    <hr />
    <div class="row form-group">
        <div class="col-md-6">
            <label class="control-label">{{'dashboard.serviceCategories' | translate}}</label>
            <ui-select ng-model="filterCtrl.filter.serviceCategories" name="office" theme="bootstrap"
                class="form-control" multiple>
                <ui-select-match placeholder="{{'dashboard.serviceCategories' | translate}}">{{$item |
                    localizeString}}</ui-select-match>
                <ui-select-choices
                    repeat="office in filterCtrl.serviceCategories | propsFilter: {nameAr: $select.search, nameEn: $select.search}">
                    <div ng-bind-html="office | localizeString | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-6"
            ng-if="filterCtrl.filter.serviceCategories.length == 0 || filterCtrl.filter.serviceCategories == null">
            <label class="control-label">{{'dashboard.services' | translate}}</label>
            <ui-select ng-model="filterCtrl.filter.services" name="office" theme="bootstrap" class="form-control"
                multiple>
                <ui-select-match placeholder="{{'dashboard.services' | translate}}">{{$item |
                    localizeString}}</ui-select-match>
                <ui-select-choices
                    repeat="office in filterCtrl.services | propsFilter: {nameAr: $select.search, nameEn: $select.search}">
                    <div ng-bind-html="office | localizeString | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-6" ng-if="filterCtrl.filter.serviceCategories.length > 0">
            <label class="control-label">{{'dashboard.services' | translate}}</label>
            <ui-select ng-model="filterCtrl.filter.services" name="office" theme="bootstrap" class="form-control"
                multiple>
                <ui-select-match placeholder="{{'dashboard.services' | translate}}">{{$item |
                    localizeString}}</ui-select-match>
                <ui-select-choices
                    repeat="office in filterCtrl.services | filterByCategory: filterCtrl.filter.serviceCategories">
                    <div ng-bind-html="office | localizeString | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-6">
            <label class="control-label">{{'dashboard.economicActivities' | translate}}</label>
            <ui-select ng-model="filterCtrl.filter.economicActivities" name="office" theme="bootstrap"
                class="form-control" multiple>
                <ui-select-match placeholder="{{'dashboard.economicActivities' | translate}}">
                    <span style="white-space:normal">
                        {{$item | localizeString}}
                    </span>
                </ui-select-match>
                <ui-select-choices
                    repeat="economicActivity in filterCtrl.economicActivities | propsFilter: {nameAr: $select.search, nameEn: $select.search}">
                    <div ng-bind-html="economicActivity | localizeString | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-6">
            <label class="control-label">{{'dashboard.nationalities' | translate}}</label>
            <ui-select ng-model="filterCtrl.filter.nationalities" name="nationality" theme="bootstrap"
                class="form-control" multiple>
                <ui-select-match placeholder="{{'dashboard.nationalities' | translate}}">
                    <div class="col-md-5">
                        <img class="img-responsive" style="max-height:25px;"
                            ng-src="../src/imgs/Countries/{{$item.isoCode2}}.png" />
                    </div>
                    <div class="col-md-5 mobileHideName" style="padding-top:3px;">
                        <span class="text-sm pull-right">{{$item | localizeString}}</span>
                    </div>
                </ui-select-match>
                <ui-select-choices
                    repeat="nationality in filterCtrl.nationalities | propsFilter: {nameAr: $select.search, nameEn: $select.search}">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-responsive" ng-src="../src/imgs/Countries/{{nationality.isoCode2}}.png" />
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-bind-html="nationality | localizeString | highlight: $select.search"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <small data-translate="country.countryCode"></small>: <small
                                        ng-bind-html="nationality.isoCode3 | highlight: $select.search"></small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <small data-translate="country.phoneCode"></small>: <small
                                        ng-bind-html="nationality.phoneCode | highlight: $select.search"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-6">
            <label class="control-label">{{'dashboard.subService' | translate}}</label>
            <ui-select ng-model="filterCtrl.filter.publicationTypes" name="publicationType" theme="bootstrap"
                class="form-control" multiple>
                <ui-select-match placeholder="{{'dashboard.subService' | translate}}">{{$item |
                    localizeString}}</ui-select-match>
                <ui-select-choices
                    repeat="publicationType in filterCtrl.publicationTypes | propsFilter: {nameAr: $select.search, nameEn: $select.search}">
                    <div ng-bind-html="publicationType | localizeString | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-6">
            <label class="control-label">{{'CirculationMediaMaterial.mediaMaterialType' | translate}}</label>
            <ui-select ng-model="filterCtrl.filter.mediaMaterialTypes" name="mediaMaterialType" theme="bootstrap"
                class="form-control" multiple>
                <ui-select-match placeholder="{{'CirculationMediaMaterial.mediaMaterialType' | translate}}">{{$item |
                    localizeString}}</ui-select-match>
                <ui-select-choices
                    repeat="mediaMaterialType in filterCtrl.mediaMaterialTypes | propsFilter: {nameAr: $select.search, nameEn: $select.search} | filter:{isShown:true}">
                    <div ng-bind-html="mediaMaterialType | localizeString | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-6">
            <label class="control-label">{{'dashboard.applicationType' | translate}}</label>
            <ui-select ng-model="filterCtrl.filter.applicationTypes" name="applicationType" theme="bootstrap"
                class="form-control" multiple>
                <ui-select-match placeholder="{{'dashboard.applicationType' | translate}}">{{$item |
                    localizeString}}</ui-select-match>
                <ui-select-choices
                    repeat="applicationType in filterCtrl.applicationTypes | propsFilter: {nameAr: $select.search, nameEn: $select.search}">
                    <div ng-bind-html="applicationType | localizeString | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-6">
            <label class="control-label">{{'dashboard.searchTitle' | translate}}</label>
            <input ng-model="filterCtrl.filter.searchTitle" type="text"
                placeholder="{{'dashboard.searchTitle' | translate}}" autocomplete="off" class="form-control"
                name="searchTitle" />
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-6">
            <label class="control-label">{{'dashboard.fromCreatedOn' | translate}}</label>
            <p class="input-group hackyhack">
                <input type="text" uib-datepicker-popup="{{filterCtrl.format}}"
                    ng-model="filterCtrl.filter.fromCreatedOn" is-open="filterCtrl.fromCreatedOnPopup.opened"
                    min-date="false" max-date="false" close-text="Close" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" ng-click="filterCtrl.openFromCreatedOn($event)"
                        class="btn btn-default calender-custom">
                        <em class="fa fa-calendar"></em>
                    </button>
                </span>
            </p>
        </div>
        <div class="col-md-6">
            <label class="control-label">{{'dashboard.toCreatedOn' | translate}}</label>
            <p class="input-group hackyhack">
                <input type="text" uib-datepicker-popup="{{filterCtrl.format}}" ng-model="filterCtrl.filter.toCreatedOn"
                    is-open="filterCtrl.toCreatedOnPopup.opened" min-date="false" max-date="false" close-text="Close"
                    class="form-control" />
                <span class="input-group-btn">
                    <button type="button" ng-click="filterCtrl.openToCreatedOn($event)"
                        class="btn btn-default calender-custom">
                        <em class="fa fa-calendar"></em>
                    </button>
                </span>
            </p>
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-6">
            <label class="control-label">{{'dashboard.fromLicenseCreatedOn' | translate}}</label>
            <p class="input-group hackyhack">
                <input type="text" uib-datepicker-popup="{{filterCtrl.format}}"
                    ng-model="filterCtrl.filter.fromLicenseCreatedOn"
                    is-open="filterCtrl.fromLicenseCreatedOnPopup.opened" min-date="false" max-date="false"
                    close-text="Close" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" ng-click="filterCtrl.openFromLicenseCreatedOn($event)"
                        class="btn btn-default calender-custom">
                        <em class="fa fa-calendar"></em>
                    </button>
                </span>
            </p>
        </div>
        <div class="col-md-6">
            <label class="control-label">{{'dashboard.toLicenseCreatedOn' | translate}}</label>
            <p class="input-group hackyhack">
                <input type="text" uib-datepicker-popup="{{filterCtrl.format}}"
                    ng-model="filterCtrl.filter.toLicenseCreatedOn" is-open="filterCtrl.toLicenseCreatedOnPopup.opened"
                    min-date="false" max-date="false" close-text="Close" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" ng-click="filterCtrl.openToLicenseCreatedOn($event)"
                        class="btn btn-default calender-custom">
                        <em class="fa fa-calendar"></em>
                    </button>
                </span>
            </p>
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-6">
            <label class="control-label">{{'dashboard.fromLicenseExpiredOn' | translate}}</label>
            <p class="input-group hackyhack">
                <input type="text" uib-datepicker-popup="{{filterCtrl.format}}"
                    ng-model="filterCtrl.filter.fromLicenseExpiredOn"
                    is-open="filterCtrl.fromLicenseExpiredOnPopup.opened" min-date="false" max-date="false"
                    close-text="Close" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" ng-click="filterCtrl.openFromLicenseExpiredOn($event)"
                        class="btn btn-default calender-custom">
                        <em class="fa fa-calendar"></em>
                    </button>
                </span>
            </p>
        </div>
        <div class="col-md-6">
            <label class="control-label">{{'dashboard.toLicenseExpiredOn' | translate}}</label>
            <p class="input-group hackyhack">
                <input type="text" uib-datepicker-popup="{{filterCtrl.format}}"
                    ng-model="filterCtrl.filter.toLicenseExpiredOn" is-open="filterCtrl.toLicenseExpiredOnPopup.opened"
                    min-date="false" max-date="false" close-text="Close" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" ng-click="filterCtrl.openToLicenseExpiredOn($event)"
                        class="btn btn-default calender-custom">
                        <em class="fa fa-calendar"></em>
                    </button>
                </span>
            </p>
        </div>
    </div>
    <hr />
    <div class=" form-group">
        <div class="col-md-6">
            <label class="control-label">{{'dashboard.applicationStatuses' | translate}}</label>
            <ui-select ng-model="filterCtrl.filter.applicationStatuses" name="office" theme="bootstrap"
                class="form-control" multiple>
                <ui-select-match placeholder="{{'dashboard.applicationStatuses' | translate}}">{{$item |
                    localizeString}}</ui-select-match>
                <ui-select-choices
                    repeat="office in filterCtrl.applicationStatuses | propsFilter: {nameAr: $select.search, nameEn: $select.search,}">
                    <div ng-bind-html="office | localizeString | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-6">
            <label class="control-label text-left">{{'dashboard.consumedTime' | translate}}</label>
            <ui-select ng-model="filterCtrl.filter.calculatedApplicationStatuses" name="calculatedApplicationStatuses"
                theme="bootstrap" class="form-control" multiple>
                <ui-select-match placeholder="{{'dashboard.actions' | translate}}">{{$item |
                    localizeString}}</ui-select-match>
                <ui-select-choices
                    repeat="action in filterCtrl.applicationStatuses | propsFilter: {nameAr: $select.search, nameEn: $select.search}">
                    <div ng-bind-html="action | localizeString | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <hr />
    <div class=" form-group">
        <div class="col-md-6">
            <div class="form-group"
            style="
               display: flex;
    flex-direction: column;
    align-items: flex-start;
            "
            >
                <label class="control-label text-white">{{'dashboard.saveFilter' | translate}}</label>
                <div class="switch-container">
                    <label class="switch switch-lg switch-warning">
                        <input type="checkbox" ng-model="filterCtrl.filter.saveFilter"
                            ng-checked="filterCtrl.filter.saveFilter == true" 
                            ng-disabled="filterCtrl.filter.emirates == null &&
                                        filterCtrl.filter.applicationStatuses == null &&
                                        filterCtrl.filter.serviceCategories == null &&
                                        filterCtrl.filter.services == null &&
                                        filterCtrl.filter.economicActivities == null &&
                                        filterCtrl.filter.nationalities == null &&
                                        filterCtrl.filter.publicationTypes == null &&
                                        filterCtrl.filter.mediaMaterialTypes == null &&
                                        filterCtrl.filter.fromCreatedOn == null &&
                                        filterCtrl.filter.toCreatedOn == null &&
                                        filterCtrl.filter.fromLicenseCreatedOn == null &&
                                        filterCtrl.filter.toLicenseCreatedOn == null &&
                                        filterCtrl.filter.calculatedApplicationStatuses == null &&
                                        filterCtrl.filter.regions == null">
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <label class="control-label"><span>{{'dashboard.saveWithName' | translate}}</span></label>
            <input ng-model="filterCtrl.filter.name" type="text" placeholder="{{'dashboard.saveWithName' | translate}}"
                autocomplete="off" class="form-control" validator="required" name="fullName" maxlength="120"
                ng-disabled="!filterCtrl.filter.saveFilter" />
        </div>
    </div>
    <br /><br /><br />
</div>