<div class="box-placeholder b0 bg-gray-lighter">
    <h3 data-translate="visit.bookList"></h3>
    <p>
        <div class="row" ng-if="!isReview">
            <div class="col-md-12">
                <div class="btn btn-warning pull-right" ng-click="open('lg')">{{'visit.addNewBook' | translate}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ng-if="dtBookOptions">
                <table datatable="" class="row-border hover" dt-options="dtBookOptions" dt-columns="dtBookColumns" dt-instance="dtBookInstanceCallback" width="100%"></table>
            </div>
        </div>
        <div class="row"><br /></div>
    </p>
</div>
