<div ng-controller="taskController as task">

    <!-- Breadcrumb -->
    <div class="breadcrumb-container">
        <p class="breadcrumb-text">
            {{'dashboard.home' | translate}}
            <em class="fa fa-chevron-right"></em>
            {{app | localizeString}}
            <em class="fa fa-chevron-right"></em>
            {{app.description | localizeString}}
        </p>
    </div>



    <!-- Header and Buttons -->
    <div class="row">
        <div class="col-md-4">
            <h2 class="app-view-header" style="font-weight: bold;    font-size: 22px;">
                <span class="back-arrow">
                    <em class="fa fa-chevron-left"></em>
                </span>
                {{'task.title' | translate}}
            </h2>
        </div>
    </div>

    <!-- Search and Filter Section -->
    <div class="row d-flex align-items-center" style="margin-bottom: 5px;">
        <div class="col-md-6">
            <!-- Search Bar -->
            <input type="text" class="form-control" placeholder="Search" ng-model="task.searchText"
                ng-change="task.filterData()">
        </div>
        <div class="col-md-2">
            <div ng-if="!task.isObjectEmpty(task.filterParams)">
                <span class="col-md-1 ">
                    <a ng-click="task.exportExcel()" uib-tooltip="Excel">
                        <em class="fa fa-file-excel-o text-success fa-2x" style="cursor:pointer"></em>
                    </a>
                </span>
                <span class="col-md-1">
                    <a ng-click="task.exportCSV()" uib-tooltip="CSV">
                        <em class="fa fa-file-text-o fa-2x" style="cursor:pointer"></em>
                    </a>
                </span>
                <span class="col-md-1">
                    <a ng-click="task.exportPDF()" uib-tooltip="PDF">
                        <em class="fa fa-file-pdf-o text-danger fa-2x" style="cursor:pointer"></em>
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <select class="form-control" ng-model="task.selectedEntries" ng-options="entry for entry in task.entries"
                ng-change="task.loadTaskGroups()">
            </select>
        </div>
        <div class="col-md-2 inspector">
            <!-- Button to open the filter modal -->
            <button class="btn btn-primary" btn-layer-morph="task.click()" btn-layer="task.filter"
                target="#layer-search">
                <span data-translate="general.filter"></span>&nbsp;&nbsp;<em class="fa fa-filter"
                    aria-hidden="true"></em>
            </button>
        </div>
    </div>
    <!-- Table Section -->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>{{'completeProfile.establishmentName' | translate}}</th>
                        <th>{{'address.Emirate' | translate}}</th>
                        <th>{{'address.Community' | translate}}</th>
                        <th>{{'establishment.LicenseNumber' | translate}}</th>
                        <th>{{'inspection.assignedTo' | translate}}</th>
                        <th>{{'inspection.ScheduleStartingDate' | translate}}</th>
                        <th>{{'inspection.ScheduleEndingDate' | translate}}</th>
                        <th>{{'general.actions' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in task.tasks">
                        <td>{{item.visits[0].establishment.nameEn}}</td>
                        <td>{{task.getTranslatedEmirate(item.visits[0].establishment.address.community.region.id)}}</td>
                        <td>{{task.getTranslatedCommunity(item.visits[0].establishment.address.community.id)}}</td>
                        <td>{{item.visits[0].establishment.licenseNumber}}</td>
                        <td>{{item.taskGroupEmployee.user.firstName}} {{item.taskGroupEmployee.user.lastName}}</td>
                        <td>{{item.startsAt | date:'dd-MMMM-yyyy, h:mm:ss a'}}</td>
                        <td>{{item.endsAt | date:'dd-MMMM-yyyy, h:mm:ss a'}}</td>
                        <td class="action-icons">
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                                    <em class="fa fa-ellipsis-v"></em>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" ng-click="task.review(item.id)">
                                        <em class="fa fa-eye"></em> {{'general.view' | translate}}
                                    </a>
                                    <a class="dropdown-item" ng-click="task.edit(item.id)">
                                        <em class="fa fa-pencil"></em> {{'general.edit' | translate}}
                                    </a>
                                    <a class="dropdown-item" ng-click="task.delete(item.id)">
                                        <em class="fa fa-trash"></em> {{'general.delete' | translate}}
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Pagination Section -->
    <nav aria-label="Page navigation" class="mt-3">
        <ul class="pagination justify-content-center custom-pagination">
            <li class="page-item" ng-class="{disabled: task.pageIndex === 0}" ng-click="task.previousPage()">
                <a class="page-link"><span aria-hidden="true">&lsaquo;</span></a>
            </li>
            <li class="page-item" ng-if="task.pageIndex > 2" ng-click="task.goToPage(0)">
                <a class="page-link">1</a>
            </li>
            <li class="page-item" ng-if="task.pageIndex > 2"><span class="page-link">...</span></li>
            <li class="page-item" ng-repeat="page in task.getPageRange()" ng-class="{active: page === task.pageIndex}"
                ng-click="task.goToPage(page)">
                <a class="page-link">{{ page + 1 }}</a>
            </li>
            <li class="page-item" ng-if="task.pageIndex < task.totalPages - 3"><span class="page-link">...</span></li>
            <li class="page-item" ng-if="task.pageIndex < task.totalPages - 3"
                ng-click="task.goToPage(task.totalPages - 1)">
                <a class="page-link">{{ task.totalPages }}</a>
            </li>
            <li class="page-item" ng-class="{disabled: task.pageIndex === task.totalPages - 1}"
                ng-click="task.nextPage()">
                <a class="page-link"><span aria-hidden="true">&rsaquo;</span></a>
            </li>
        </ul>
    </nav>
</div>