<div ng-controller="EstablishmentsController as establishment">
    <!-- Breadcrumb -->
    <div class="breadcrumb-container">
        <p class="breadcrumb-text">
            {{'dashboard.home' | translate}}
            <em class="fa fa-chevron-right"></em>
            {{app | localizeString}}
            <em class="fa fa-chevron-right"></em>
            {{app.description | localizeString}}
        </p>
    </div>

    <!-- Header and Buttons -->
    <div class="row">
        <div class="col-md-4">
            <h2 class="app-view-header" style="font-weight: bold;    font-size: 22px;">
                <span class="back-arrow">
                    <em class="fa fa-chevron-left"></em>
                </span>
                {{'establishment.title' | translate}}
            </h2>
        </div>
        <div class="col-md-8 text-right formSubmit">
            <button type="button" class="btn btn-primary" ng-click="establishment.checkFine()">
                &nbsp;&nbsp;<em class="fa fa-search" aria-hidden="true"></em> {{'inspection.search' | translate}}
            </button>
            <button type="button" class="btn btn-warning" ng-click="establishment.open('lg')">
                &nbsp;&nbsp;<em class="fa fa-plus" aria-hidden="true"></em> {{'inspection.addEstablishment' |
                translate}}
            </button>
        </div>
    </div>

    <!-- Search and Filter Section -->
    <div class="row d-flex align-items-center" style="margin-bottom: 5px;">
        <div class="col-md-6">
            <!-- Search Bar -->
            <input type="text" class="form-control" placeholder="Search" ng-model="establishment.searchText"
                ng-change="establishment.filterData()">
        </div>
        <div class="col-md-2">
            <div ng-if="!establishment.isObjectEmpty(establishment.filterParams)">
                <span class="col-md-1 ">
                    <a ng-click="establishment.exportExcel()" uib-tooltip="Excel">
                        <em class="fa fa-file-excel-o text-success fa-2x" style="cursor:pointer"></em>
                    </a>
                </span>
                <span class="col-md-1">
                    <a ng-click="establishment.exportCSV()" uib-tooltip="CSV">
                        <em class="fa fa-file-text-o fa-2x" style="cursor:pointer"></em>
                    </a>
                </span>
                <span class="col-md-1">
                    <a ng-click="establishment.exportPDF()" uib-tooltip="PDF">
                        <em class="fa fa-file-pdf-o text-danger fa-2x" style="cursor:pointer"></em>
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-2">

            <select class="form-control" ng-model="establishment.selectedEntries"
                ng-options="entry for entry in establishment.entries" ng-change="establishment.loadTaskGroups()">
            </select>
        </div>
        <div class="col-md-2 inspector">


            <button class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#filterModal">
                <span data-translate="general.filter"></span>&nbsp;&nbsp;<em class="fa fa-filter"
                    aria-hidden="true"></em>
            </button>


        </div>
    </div>

    <!-- Table Section -->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>{{'dashboard.mediaLicenseNumber' | translate}}</th>
                        <th>{{'establishment.LicenseNumber' | translate}}</th>
                        <th>{{'address.Emirate' | translate}}</th>
                        <th>{{'address.Community' | translate}}</th>
                        <th>{{'completeProfile.establishmentName' | translate}}</th>
                        <th>{{'general.actions' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in establishment.establishments">
                        <td>{{item.mediaLicenseNumber}}</td>
                        <td>{{item.licenseNumber}}</td>
                        <td>{{establishment.getTranslatedEmirate(item.community.region.id)}}</td>
                        <td>{{establishment.getTranslatedCommunity(item.address.communityId)}}</td>
                        <td>{{establishment.getEstablishmentName(item)}}</td>
                        <td class="action-icons">
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                                    <em class="fa fa-ellipsis-v"></em>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" ng-click="vm.review(item.id)">
                                        <em class="fa fa-eye"></em> {{'general.view' | translate}}
                                    </a>
                                    <a class="dropdown-item" ng-click="vm.edit(item.id)">
                                        <em class="fa fa-pencil"></em> {{'general.edit' | translate}}
                                    </a>
                                    <a class="dropdown-item" ng-click="vm.delete(item.id)">
                                        <em class="fa fa-trash"></em> {{'general.delete' | translate}}
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>




    <nav aria-label="Page navigation" class="mt-3">
        <ul class="pagination justify-content-center custom-pagination">
            <!-- Previous Button -->
            <li class="page-item" ng-class="{disabled: establishment.pageIndex === 0}"
                ng-click="establishment.previousPage()">
                <a class="page-link">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>

            <!-- First Page -->
            <li class="page-item" ng-if="establishment.pageIndex > 2" ng-click="establishment.goToPage(0)">
                <a class="page-link">1</a>
            </li>

            <!-- Ellipsis for Pages Skipped -->
            <li class="page-item" ng-if="establishment.pageIndex > 2">
                <span class="page-link">...</span>
            </li>

            <!-- Page Numbers Range -->
            <li class="page-item" ng-repeat="page in establishment.getPageRange()"
                ng-class="{active: page === establishment.pageIndex}" ng-click="establishment.goToPage(page)">
                <a class="page-link">{{ page + 1 }}</a>
            </li>

            <!-- Ellipsis for Skipped Pages After -->
            <li class="page-item" ng-if="establishment.pageIndex < establishment.totalPages - 3">
                <span class="page-link">...</span>
            </li>

            <!-- Last Page -->
            <!-- Last Page -->
            <li class="page-item" ng-if="establishment.pageIndex < establishment.totalPages - 3"
                ng-click="establishment.goToPage(establishment.totalPages - 1)">
                <a class="page-link">{{ establishment.totalPages }}</a>
            </li>

            <!-- Next Button -->
            <li class="page-item" ng-class="{disabled: establishment.pageIndex === establishment.totalPages - 1}"
                ng-click="establishment.nextPage()">
                <a class="page-link">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- <div class="layer-morph-overlay">
        <div class="layer-morph-inner bg-primary"></div>
    </div>
    <div layer-morph-close="" class="layer-morph-close">
        <em class="fa fa-close"></em>
    </div>
    <div class="layer-morph-container bg-primary">
        <div class="layer-morph-wrapper">
            <div id="layer-search" ng-include="'app/views/Dashboard/filter/filterDashboard.html'" class="layer-morph">
            </div>
            <div class="row">
                <div class="col-md-4 pull-right">
                    <button class="btn btn-warning btn-md" btn-layer="customerFilter" layer-morph-close=""
                        ng-click="establishment.removeFilter(this)">
                        {{"dashboard.removeFilter" | translate}}&nbsp;<em class="fa fa-close" aria-hidden="true"></em>
                    </button>
                    <button class="btn btn-default btn-md" btn-layer="customerFilter" layer-morph-filter=""
                        ng-click="establishment.filter(this)">
                        {{"dashboard.applyFilter" | translate}}&nbsp;<em class="fa fa-check" aria-hidden="true"></em>
                    </button>
                </div>
            </div>
            <br /><br />
        </div>
    </div> -->




    <div id="filterModal" class="modal fade filter" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="filter-title" data-translate="dashboard.lookingFor"></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Include the filterDashboard.html content -->
                    <div id="layer-search" ng-include="'app/views/Dashboard/filter/filterDashboard.html'"
                        class="layer-morph">
                    </div>
                    <div class="modal-footer">


                        <div class="row mt-lg">
                            <div class="col-md-4 pull-right"
                                style="display: flex;
                                                                                                            gap: 16px;
                                                                                                            justify-content: end;
                                                                                                            margin-right: 32px;">
                                <button class="btn btn-md"
                                    style="color: #997133;
                                                                                                    border: 1px solid #997133;"
                                    ng-click="establishment.removeFilter()">
                                    {{"dashboard.removeFilter" | translate}}
                                </button>
                                <button class="btn btn-md" style="background-color: #997133; color: white;"
                                    ng-click="establishment.applyFilters()">
                                    {{"dashboard.applyFilter" | translate}}
                                </button>
                            </div>




                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- 
<div class="app-view-header">
    {{'dashboard.home' | translate}}
    <small>{{app | localizeString}} - {{app.description | localizeString}}</small>
</div>
<div ng-controller="EstablishmentsController as establishment">
    <tour step="currentStep">
        <p tourtip="Hey! I'd like to walk you through our site, it's great"
           tourtip-next-label="Hmmm, okay sure!"
           tourtip-placement="top"
           tourtip-margin="10"
           tourtip-step="0">
        </p>
        <p ng-show="currentStep === 1"
           tourtip="Behold! I am now explaining the feature..."
           tourtip-next-label="Wow, Amazing!"
           tourtip-placement="right"
           tourtip-offset-vertical="-300"
           tourtip-offset-horizontal="-26"
           tourtip-step="1">
        </p>
    </tour>

    <div class="row">
        <div class="col-md-4">
            <div class="mr mb-sm btn btn-warning pull-left" ng-click="establishment.open('lg')">
                {{'inspection.addEstablishment' | translate}}
                <span class="ripple"></span>
            </div>
            <button type="button" ripple="" class="btn btn-primary" ng-click="establishment.checkFine()">
                {{'inspection.search' | translate}}
            </button>
        </div>
    </div>
    <div class="row" ng-if="establishment.user.userTypeCode == '06'">
        <div class="col-md-5">
            <div ng-if="!establishment.isObjectEmpty(establishment.filterParams)">
                <span class="col-md-1 ">
                    <a ng-click="establishment.exportExcel()" uib-tooltip="Excel">
                        <em class="fa fa-file-excel-o text-success fa-2x" style="cursor:pointer"></em>
                    </a>
                </span>
                <span class="col-md-1">
                    <a ng-click="establishment.exportCSV()" uib-tooltip="CSV">
                        <em class="fa fa-file-text-o fa-2x" style="cursor:pointer"></em>
                    </a>
                </span>
                <span class="col-md-1">
                    <a ng-click="establishment.exportPDF()" uib-tooltip="PDF">
                        <em class="fa fa-file-pdf-o text-danger fa-2x" style="cursor:pointer"></em>
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <button ng-if="establishment.userFilters == null || establishment.userFilters.length == 0" class="btn btn-primary btn-md pull-right" btn-layer-morph="establishment.click()"
                    btn-layer="establishment.filter" target="#layer-search">
                <span data-translate="general.filter"></span>&nbsp;&nbsp;<em class="fa fa-filter" aria-hidden="true"></em>
            </button>
            <div ng-if="establishment.userFilters.length > 0" uib-dropdown="dropdown" class="btn-group mb-sm mr dropdown open pull-right">
                <button type="button" uib-dropdown-toggle="" ripple="" class="btn dropdown-toggle btn-primary" aria-haspopup="true" aria-expanded="true">
                    <span ng-if="establishment.filterParams.userFilterId == undefined">{{'general.filter' | translate}}</span>
                    <span ng-if="establishment.filterParams.userFilterId != undefined && establishment.filterParams.userFilterId == establishment.defaultUserFilter.id">{{establishment.defaultUserFilter.name}}</span>
                    <span ng-if="establishment.filterParams.userFilterId != undefined && establishment.filterParams.userFilterId != establishment.defaultUserFilter.id">{{establishment.selectedUserFilter.name}}</span>&nbsp;
                    <span class="caret"></span>
                    <span class="ripple"><span class="angular-ripple"></span></span>
                </button>
                <ul role="menu" class="dropdown-menu">
                    <li>
                        <a href="" btn-layer-morph="establishment.click()" btn-layer="establishment.filter" target="#layer-search">
                            {{'dashboard.newFilter' | translate}}
                        </a>
                    </li>
                    <li ng-repeat="userFilter in establishment.userFilters">
                        <a href="" ng-click="establishment.userFilterData(userFilter)">{{userFilter.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-if="establishment.dtApplicationOptions">
            <table datatable="" ng-class="{'row-border hover color-blind' : app.layout.isColorBlind, 'row-border hover' : !app.layout.isColorBlind}"
                   dt-options="establishment.dtApplicationOptions" dt-columns="establishment.dtApplicationColumns"
                   dt-instance="establishment.dtApplicationInstance" width="100%" id="establishmentDatatable"></table>
        </div>
    </div>
    <div class="layer-morph-overlay">
        <div class="layer-morph-inner bg-primary"></div>
    </div>
    <div layer-morph-close="" class="layer-morph-close">
        <em class="fa fa-close"></em>
    </div>
    <div class="layer-morph-container bg-primary">
        <div class="layer-morph-wrapper">
            <div id="layer-search" ng-include="'app/views/Dashboard/filter/filterDashboard.html'" class="layer-morph"></div>
            <div class="row">
                <div class="col-md-4 pull-right">
                    <button class="btn btn-warning btn-md" btn-layer="customerFilter" layer-morph-close="" ng-click="establishment.removeFilter(this)">
                        {{"dashboard.removeFilter" | translate}}&nbsp;<em class="fa fa-close" aria-hidden="true"></em>
                    </button>
                    <button class="btn btn-default btn-md" btn-layer="customerFilter" layer-morph-filter="" ng-click="establishment.filter(this)">
                        {{"dashboard.applyFilter" | translate}}&nbsp;<em class="fa fa-check" aria-hidden="true"></em>
                    </button>
                </div>
            </div>
            <br /><br />
        </div>
    </div>
</div>

-->