<div ng-controller="EstablishmentsController as establishment">
    <!-- Breadcrumb -->
    <div class="breadcrumb-container">
        <p class="breadcrumb-text">
            {{'dashboard.home' | translate}}
            <em class="fa fa-chevron-right"></em>
            {{app | localizeString}}
            <em class="fa fa-chevron-right"></em>
            {{app.description | localizeString}}
        </p>
    </div>



    <!-- Header and Buttons -->
    <div class="row">
        <div class="col-md-4">
            <h2 class="app-view-header" style="font-weight: bold;    font-size: 22px;">
                <span class="back-arrow">
                    <em class="fa fa-chevron-left"></em>
                </span>
                {{'establishment.title' | translate}}
            </h2>
        </div>
        <div class="col-md-8 text-right formSubmit">
            <button type="button" class="btn btn-primary" ng-click="establishment.checkFine()">
                &nbsp;&nbsp;<em class="fa fa-search" aria-hidden="true"></em> {{'inspection.search' | translate}}
            </button>
            <button type="button" class="btn btn-warning" ng-click="establishment.open('lg')">
                &nbsp;&nbsp;<em class="fa fa-plus" aria-hidden="true"></em> {{'inspection.addEstablishment' |
                translate}}
            </button>
        </div>
    </div>

    <!-- Search and Filter Section -->
    <div class="row d-flex align-items-center" style="margin-bottom: 5px;">
        <div class="col-md-6">
            <!-- Search Bar -->
            <input type="text" class="form-control" placeholder="Search" ng-model="establishment.searchText"
                ng-change="establishment.filterData()">
        </div>
        <div class="col-md-2">
            <div ng-if="!establishment.isObjectEmpty(establishment.filterParams)">
                <span class="col-md-1 ">
                    <a ng-click="establishment.exportExcel()" uib-tooltip="Excel">
                        <em class="fa fa-file-excel-o text-success fa-2x" style="cursor:pointer"></em>
                    </a>
                </span>
                <span class="col-md-1">
                    <a ng-click="establishment.exportCSV()" uib-tooltip="CSV">
                        <em class="fa fa-file-text-o fa-2x" style="cursor:pointer"></em>
                    </a>
                </span>
                <span class="col-md-1">
                    <a ng-click="establishment.exportPDF()" uib-tooltip="PDF">
                        <em class="fa fa-file-pdf-o text-danger fa-2x" style="cursor:pointer"></em>
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <!-- Dropdown to select number of rows per page -->
            <!-- Dropdown to select number of rows per page -->
            <select class="form-control" ng-model="establishment.selectedEntries"
                ng-options="entry for entry in establishment.entries" ng-change="establishment.loadTaskGroups()">
            </select>
        </div>
        <div class="col-md-2 inspector">
            <!-- Button to open the filter modal -->
            <button class="btn btn-primary" btn-layer-morph="establishment.click()" btn-layer="establishment.filter"
                target="#layer-search">
                <span data-translate="general.filter"></span>&nbsp;&nbsp;<em class="fa fa-filter"
                    aria-hidden="true"></em>
            </button>
        </div>
    </div>

    <!-- Table Section -->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>{{'dashboard.mediaLicenseNumber' | translate}}</th>
                        <th>{{'establishment.LicenseNumber' | translate}}</th>
                        <th>{{'address.Emirate' | translate}}</th>
                        <th>{{'address.Community' | translate}}</th>
                        <th>{{'completeProfile.establishmentName' | translate}}</th>
                        <th>{{'general.actions' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in establishment.establishments">
                        <td>{{item.mediaLicenseNumber}}</td>
                        <td>{{item.licenseNumber}}</td>
                        <td>{{establishment.getTranslatedEmirate(item.community.region.id)}}</td>
                        <td>{{establishment.getTranslatedCommunity(item.address.communityId)}}</td>
                        <td>{{establishment.getEstablishmentName(item)}}</td>
                        <td class="action-icons">
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                                    <em class="fa fa-ellipsis-v"></em>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" ng-click="vm.review(item.id)">
                                        <em class="fa fa-eye"></em> {{'general.view' | translate}}
                                    </a>
                                    <a class="dropdown-item" ng-click="vm.edit(item.id)">
                                        <em class="fa fa-pencil"></em> {{'general.edit' | translate}}
                                    </a>
                                    <a class="dropdown-item" ng-click="vm.delete(item.id)">
                                        <em class="fa fa-trash"></em> {{'general.delete' | translate}}
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>




    <nav aria-label="Page navigation" class="mt-3">
        <ul class="pagination justify-content-center custom-pagination">
            <!-- Previous Button -->
            <li class="page-item" ng-class="{disabled: establishment.pageIndex === 0}"
                ng-click="establishment.previousPage()">
                <a class="page-link">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>

            <!-- First Page -->
            <li class="page-item" ng-if="establishment.pageIndex > 2" ng-click="establishment.goToPage(0)">
                <a class="page-link">1</a>
            </li>

            <!-- Ellipsis for Pages Skipped -->
            <li class="page-item" ng-if="establishment.pageIndex > 2">
                <span class="page-link">...</span>
            </li>

            <!-- Page Numbers Range -->
            <li class="page-item" ng-repeat="page in establishment.getPageRange()"
                ng-class="{active: page === establishment.pageIndex}" ng-click="establishment.goToPage(page)">
                <a class="page-link">{{ page + 1 }}</a>
            </li>

            <!-- Ellipsis for Skipped Pages After -->
            <li class="page-item" ng-if="establishment.pageIndex < establishment.totalPages - 3">
                <span class="page-link">...</span>
            </li>

            <!-- Last Page -->
            <!-- Last Page -->
            <li class="page-item" ng-if="establishment.pageIndex < establishment.totalPages - 3"
                ng-click="establishment.goToPage(establishment.totalPages - 1)">
                <a class="page-link">{{ establishment.totalPages }}</a>
            </li>

            <!-- Next Button -->
            <li class="page-item" ng-class="{disabled: establishment.pageIndex === establishment.totalPages - 1}"
                ng-click="establishment.nextPage()">
                <a class="page-link">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>