<div class="app-view-header">{{'dashboard.home' | translate}}
   <small>{{app | localizeString}} - {{app.description | localizeString}}</small>
</div>
<div ng-controller="SupervisorApproveController as approval">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table datatable="" class="row-border hover" dt-options="approval.dtApplicationOptions" dt-columns="approval.dtApplicationColumns"
                   dt-instance="approval.dtApplicationInstance" width="100%"></table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>