<div class="app-view-header">
    {{'mediaLicense.renewMediaLicense' | translate}}
</div>
<div class="container-fluid" ng-controller="MediaLicenseRenewController as mediaCtl">

    <!-- START panel-->
    <div class="panel panel-primary">
        <div ng-class="{'panel-body color-blind' : app.layout.isColorBlind, 'panel-body' : !app.layout.isColorBlind}">
            <br /><br />
            <uib-alert type="info" ng-if="mediaCtl.employeeNote">
                <div class="row text-bold">
                    <div class="col-md-6"><span class="pull-left">{{'mediaLicense.employeeNote' | translate}}</span></div>
                    <div class="col-md-6"><span class="pull-right">{{mediaCtl.employeeNoteDate}}</span></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12" ng-bind-html="mediaCtl.employeeNote"></div>
                </div>
            </uib-alert>
            <br />
            <div class="wizard">
                <ul class="steps-bar">
                    <li ng-class="{'active':mediaCtl.activeStep >= 1}">
                        <label ng-if="!mediaCtl.isIndividual">{{'mediaLicense.stepOne' | translate}}</label>
                        <label ng-if="mediaCtl.isIndividual">{{'mediaLicense.stepOneIndividual' | translate}}</label>
                    </li>
                    <li ng-class="{'active':mediaCtl.activeStep >= 2}">
                        <label>{{'mediaLicense.stepTwo' | translate}}</label>
                    </li>
                    <li ng-class="{'active':mediaCtl.activeStep >= 4}" ng-if="!mediaCtl.isIndividual">
                        <label>{{'mediaLicense.stepThree' | translate}}</label>
                    </li>
                </ul>
                <br />
                <div ng-if="mediaCtl.activeStep==1" class="wizard-step">
                    <form role="form" class="mb-lg form-horizontal" name="stepOneForm">
                        <div class="formCard" ng-if="!mediaCtl.isIndividual">
                            <establishment ng-model="mediaCtl.mediaLicenses.applicationDetail.application.establishment" is-media-license-step="true" is-renew="true"></establishment>
                        </div> 
                        <div class="row form-group" ng-if="mediaCtl.isIndividual">
                            <div class="col-md-12">
                                <profile-nationality ng-model="mediaCtl.mediaLicenses.applicationDetail.application.user.userProfiles[0].person" is-for-social-media="true" is-require-third-party="true"></profile-nationality>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" ripple="" ng-disabled="mediaCtl.isBusy" class="mr mb-sm btn btn-primary pull-right" ng-click="mediaCtl.goToSecondStep()"
                                        validation-submit="stepOneForm">
                                    {{'general.next' | translate}}<span class="ripple"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-if="mediaCtl.activeStep==2" class="wizard-step">
                    <form role="form" class="mb-lg form-horizontal" name="stepTwoForm">
                        <div class="row form-group">
                            <label class="col-sm-3 control-label">{{'mediaLicense.activities' | translate}}</label>
                            <div class="col-sm-7">
                                <ul>
                                    <li ng-repeat="activity in mediaCtl.mediaLicenses.selectActivities">{{activity | localizeString}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label"><span>{{'mediaLicense.startDate' | translate}}</span></label>
                            <div class="col-sm-7 form-control-static">
                                <label>{{mediaCtl.renewDate}}</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label"><span>{{'mediaLicense.endDate' | translate}}</span></label>
                            <div class="col-sm-7 form-control-static">
                                <label>{{mediaCtl.endDate}}</label>
                            </div>
                        </div>
                        <br />
                        <div class="row form-group">
                            <service-fee ng-model="mediaCtl.serviceFeesObj" class="col-sm-12" is-renew="true"></service-fee>
                        </div>
                        <div ng-if="mediaCtl.isIndividual">
                            <div class="col-md-12">
                                <terms ng-model="mediaCtl.terms" ng-if="!mediaCtl.editMode" name="terms"></terms>
                            </div>
                        </div>
                        <customer-pulse ng-if="mediaCtl.showHappinessMeter && mediaCtl.isIndividual" ng-model="mediaCtl.happinessMeterObj"></customer-pulse>
                        <hr />
                        <div class="row" ng-if="mediaCtl.isIndividual">
                            <div class="col-md-12">
                                <button type="button" ripple="" validation-submit="stepTwoForm" ng-if="!mediaCtl.editMode"
                                        ng-disabled="mediaCtl.isBusy || !mediaCtl.terms.isAgreed" class="mr mb-sm btn btn-primary pull-right" ng-click="mediaCtl.save(2)">
                                    {{'general.apply' | translate}}<span class="ripple"></span>
                                </button>
                                <button type="button" ripple="" validation-submit="stepTwoForm" ng-if="!mediaCtl.editMode"
                                        ng-disabled="mediaCtl.isBusy|| !mediaCtl.terms.isAgreed" class="mr mb-sm btn btn-default pull-right" ng-click="mediaCtl.save(1)">
                                    {{'general.applyLater' | translate}}<span class="ripple"></span>
                                </button>
                                <div uib-dropdown="dropdown" class="btn-group mr pull-right" ng-if="mediaCtl.editMode">
                                    <button uib-dropdown-toggle="" ng-disabled="mediaCtl.isBusy" class="btn btn-primary dropdown-toggle">{{'dashboard.actions' | translate}}<b class="caret"></b></button>
                                    <ul role="menu" class="dropdown-menu animated zoomIn">
                                        <li ng-repeat="transition in mediaCtl.mediaLicenses.applicationDetail.applicationState.transitions">
                                            <a href="" ng-click="mediaCtl.workflowClick(transition.action.id)">{{transition.action | localizeString}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <button type="button" class="mr mb-sm btn bt    n-warning pull-right" ng-click="mediaCtl.previousToSecondStep()">
                                    {{'general.previous' | translate}}<span class="ripple"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row" ng-if="!mediaCtl.isIndividual">
                            <div class="col-md-12">
                                <button type="submit" ripple="" ng-disabled="mediaCtl.isBusy" class="mr mb-sm btn btn-primary pull-right" ng-click="mediaCtl.goToThirdStep()"
                                        validation-submit="stepTwoForm">
                                    {{'general.next' | translate}}<span class="ripple"></span>
                                </button>
                                <button type="button" class="mr mb-sm btn btn-warning pull-right" ng-click="mediaCtl.previousToFirstStep()">
                                    {{'general.previous' | translate}}<span class="ripple"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-if="mediaCtl.activeStep==3" class="wizard-step">
                    <form role="form" class="mb-lg form-horizontal" name="stepThreeForm" ng-if="!mediaCtl.isIndividual">
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-placeholder b0 bg-gray-lighter">
                                    <h3 data-translate="changePartners.partnerList"></h3>
                                    <p>
                                        <establishment-partners-list ng-if="mediaCtl.establishmentId" for-service="false" edit-only="true" dt-partner-instance="mediaCtl.dtPartnerInstance"
                                                                     establishment-partners="mediaCtl.mediaLicenses.applicationDetail.application.establishment.establishmentPartners"
                                                                     is-require-third-party="mediaCtl.requireAquitanceForm"
                                                                     establishment-id=mediaCtl.establishmentId></establishment-partners-list>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <terms ng-model="mediaCtl.terms" ng-if="!mediaCtl.editMode" name="terms"></terms>
                            </div>
                        </div>
                        <customer-pulse ng-if="mediaCtl.showHappinessMeter" ng-model="mediaCtl.happinessMeterObj"></customer-pulse>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" ripple="" validation-submit="stepThreeForm" ng-if="!mediaCtl.editMode"
                                        ng-disabled="mediaCtl.isBusy || !mediaCtl.terms.isAgreed" class="mr mb-sm btn btn-primary pull-right" ng-click="mediaCtl.save(2)">
                                    {{'general.apply' | translate}}<span class="ripple"></span>
                                </button>
                                <div uib-dropdown="dropdown" class="btn-group mr pull-right" ng-if="mediaCtl.editMode">
                                    <button uib-dropdown-toggle="" ng-disabled="mediaCtl.isBusy" class="btn btn-primary dropdown-toggle">{{'dashboard.actions' | translate}}<b class="caret"></b></button>
                                    <ul role="menu" class="dropdown-menu animated zoomIn">
                                        <li ng-repeat="transition in mediaCtl.mediaLicenses.applicationDetail.applicationState.transitions">
                                            <a href="" ng-click="mediaCtl.workflowClick(transition.action.id)">{{transition.action | localizeString}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <button type="button" class="mr mb-sm btn btn-warning pull-right" ng-click="mediaCtl.previousToSecondStep()">
                                    {{'general.previous' | translate}}<span class="ripple"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END panel-->

</div><!-- The Gallery as lightbox dialog, should be a child element of the document body-->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides">
        <h3 class="title"></h3><a class="prev">&lsaquo;</a><a class="next">&rsaquo;</a><a class="close">&times;</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
</div>
