<div class="filter-container form-horizontal" ng-controller="filterVisitListController as filterCtrl">
    <label class="text-hg text-white" data-translate="dashboard.lookingFor"></label>
    <br /><br /><br /><br />
    <div class="row form-group">
        <div class="col-md-6">
            <div class="row">
                <label class="col-sm-4 control-label text-white">{{'dashboard.applicationStatuses' | translate}}</label>
                <div class="col-sm-8">
                    <ui-select ng-model="filterCtrl.filter.applicationStatuses" name="office" theme="bootstrap"
                        class="text-left" multiple>
                        <ui-select-match placeholder="{{'dashboard.applicationStatuses' | translate}}">{{$item |
                            localizeString}}</ui-select-match>
                        <ui-select-choices
                            repeat="office in filterCtrl.applicationStatuses | propsFilter: {nameAr: $select.search, nameEn: $select.search,}">
                            <div ng-bind-html="office | localizeString | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label class="col-sm-4 control-label text-white">{{'achievements.employeeName' | translate}}</label>
                <div class="col-sm-8">
                    <ui-select ng-model="filterCtrl.filter.employees" theme="bootstrap" class="text-left"
                        name="employee" multiple>
                        <ui-select-match placeholder="{{'achievements.selectEmployee' | translate}}">{{$item.firstName +
                            ' ' + $item.lastName}}</ui-select-match>
                        <ui-select-choices
                            repeat="employee in filterCtrl.employees | propsFilter: {firstName: $select.search, lastName: $select.search,}">
                            <div
                                ng-bind-html="employee.firstName + ' ' + employee.lastName | highlight: $select.search">
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-6">
            <div class="row">
                <label class="col-sm-4 control-label text-white">{{'dashboard.fromCreatedOn' | translate}}</label>
                <div class="col-sm-8">
                    <p class="input-group hackyhack">
                        <input type="text" uib-datepicker-popup="{{filterCtrl.format}}"
                            ng-model="filterCtrl.filter.fromCreatedOn" is-open="filterCtrl.fromCreatedOnPopup.opened"
                            min-date="false" max-date="false" close-text="Close" class="form-control" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="filterCtrl.openFromCreatedOn($event)"
                                class="btn btn-default">
                                <em class="fa fa-calendar"></em>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label class="col-sm-4 control-label text-white">{{'dashboard.toCreatedOn' | translate}}</label>
                <div class="col-sm-8">
                    <p class="input-group hackyhack">
                        <input type="text" uib-datepicker-popup="{{filterCtrl.format}}"
                            ng-model="filterCtrl.filter.toCreatedOn" is-open="filterCtrl.toCreatedOnPopup.opened"
                            min-date="false" max-date="false" close-text="Close" class="form-control" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="filterCtrl.openToCreatedOn($event)" class="btn btn-default">
                                <em class="fa fa-calendar"></em>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-6">
            <div class="row">
                <label class="col-sm-4 control-label text-white">{{'visit.establishmentvisitstatus' |
                    translate}}</label>
                <div class="col-sm-8">
                    <ui-select ng-model="filterCtrl.filter.establishmentVisitStatuses" name="establishmentVisitStatus"
                        theme="bootstrap" class="text-left" multiple>
                        <ui-select-match placeholder="{{'visit.notFoundReason' | translate}}">{{$item |
                            localizeString}}</ui-select-match>
                        <ui-select-choices
                            repeat="estvs in filterCtrl.establishmentVisitStatuses | propsFilter: {nameAr: $select.search, nameEn: $select.search}">
                            <div ng-bind-html="estvs | localizeString | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-6">
            <div class="row">
                <label class="col-sm-4 control-label text-white">{{'address.Emirate' | translate}}</label>
                <div class="col-sm-8">
                    <ui-select ng-model="filterCtrl.filter.emirates" name="office" theme="bootstrap" class="text-left"
                        multiple>
                        <ui-select-match placeholder="{{'address.Emirate' | translate}}">{{$item |
                            localizeString}}</ui-select-match>
                        <ui-select-choices
                            repeat="emirate in filterCtrl.emirates | propsFilter: {nameAr: $select.search, nameEn: $select.search}">
                            <div ng-bind-html="emirate | localizeString | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-if="filterCtrl.filter.emirates.length == 0 || filterCtrl.filter.emirates == null">
            <div class="row">
                <label class="col-sm-4 control-label text-white">{{'address.Region' | translate}}</label>
                <div class="col-sm-8">
                    <ui-select ng-model="filterCtrl.filter.regions" name="office" theme="bootstrap" class="text-left"
                        multiple>
                        <ui-select-match placeholder="{{'address.Region' | translate}}">{{$item |
                            localizeString}}</ui-select-match>
                        <ui-select-choices
                            repeat="office in filterCtrl.regions | propsFilter: {nameAr: $select.search, nameEn: $select.search}">
                            <div ng-bind-html="office | localizeString | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-if="filterCtrl.filter.emirates.length > 0">
            <div class="row">
                <label class="col-sm-4 control-label text-white">{{'address.Region' | translate}}</label>
                <div class="col-sm-8">
                    <ui-select ng-model="filterCtrl.filter.regions" name="office" theme="bootstrap" class="text-left"
                        multiple>
                        <ui-select-match placeholder="{{'address.Region' | translate}}">{{$item |
                            localizeString}}</ui-select-match>
                        <ui-select-choices
                            repeat="office in filterCtrl.regions | filterByEmirate: filterCtrl.filter.emirates">
                            <div ng-bind-html="office | localizeString | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-6">
            <div class="row">
                <label class="col-sm-4 control-label text-white">{{'dashboard.economicActivities' | translate}}</label>
                <div class="col-sm-8">
                    <ui-select ng-model="filterCtrl.filter.economicActivities" name="office" theme="bootstrap"
                        class="text-left" multiple>
                        <ui-select-match placeholder="{{'dashboard.economicActivities' | translate}}">
                            <span style="white-space:normal">
                                {{$item | localizeString}}
                            </span>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="economicActivity in filterCtrl.economicActivities | propsFilter: {nameAr: $select.search, nameEn: $select.search}">
                            <div ng-bind-html="economicActivity | localizeString | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label class="col-sm-4 control-label text-white">{{'dashboard.nationalities' | translate}}</label>
                <div class="col-sm-8">
                    <ui-select ng-model="filterCtrl.filter.nationalities" name="nationality" theme="bootstrap"
                        class="text-left" multiple>
                        <ui-select-match placeholder="{{'dashboard.nationalities' | translate}}">
                            <div class="col-md-5">
                                <img class="img-responsive" style="max-height:25px;"
                                    ng-src="../src/imgs/Countries/{{$item.isoCode2}}.png" />
                            </div>
                            <div class="col-md-5 mobileHideName" style="padding-top:3px;">
                                <span class="text-sm pull-right">{{$item | localizeString}}</span>
                            </div>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="nationality in filterCtrl.nationalities | propsFilter: {nameAr: $select.search, nameEn: $select.search}">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-responsive"
                                        ng-src="../src/imgs/Countries/{{nationality.isoCode2}}.png" />
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div
                                                ng-bind-html="nationality | localizeString | highlight: $select.search">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <small data-translate="country.countryCode"></small>: <small
                                                ng-bind-html="nationality.isoCode3 | highlight: $select.search"></small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <small data-translate="country.phoneCode"></small>: <small
                                                ng-bind-html="nationality.phoneCode | highlight: $select.search"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-6">
            <label class="col-sm-6 control-label text-white">{{'dashboard.saveFilter' | translate}}</label>
            <div class="col-sm-2">
                <label class="switch switch-lg switch-warning">
                    <input type="checkbox" ng-model="filterCtrl.filter.saveFilter"
                        ng-checked="filterCtrl.filter.saveFilter == true" ng-disabled="filterCtrl.filter.emirates == null &&
                           filterCtrl.filter.applicationStatuses == null && filterCtrl.filter.employees == null && filterCtrl.filter.economicActivities == null && 
                           filterCtrl.filter.nationalities == null && filterCtrl.filter.establishmentVisitStatuses == null && filterCtrl.filter.fromCreatedOn == null && 
                           filterCtrl.filter.toCreatedOn == null && filterCtrl.filter.regions == null">
                    <span></span>
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <label class="col-sm-4 control-label text-white"><span>{{'dashboard.saveWithName' |
                    translate}}</span></label>
            <div class="col-sm-8">
                <input ng-model="filterCtrl.filter.name" type="text"
                    placeholder="{{'dashboard.saveWithName' | translate}}" autocomplete="off" class="form-control"
                    validator="required" name="fullName" maxlength="120" ng-disabled="!filterCtrl.filter.saveFilter" />
            </div>
        </div>
    </div>
    <br /><br /><br />
</div>