<div ng-controller="ReviewRepresentativeOfficeController as ppCtl">
    <div class="app-view-header">
        {{'representativeOffice.pageTitle' | translate}}<br /> <small>{{ppCtl.representativeOfficeModel.applicationDetail.application.applicationNumber}}</small>
    </div>
    <div class="container-fluid">
        <uib-accordion close-others="oneAtATime">
            <uib-accordion-group is-open="applicantDetails.open" panel-class="panel-primary" class="form-horizontal">
                <uib-accordion-heading>
                    {{'applicantDetails.applicantDetails' | translate}}
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': applicantDetails.open, 'glyphicon-chevron-right': !applicantDetails.open}"></i>
                </uib-accordion-heading>
                <br />
                <applicant ng-model="ppCtl.representativeOfficeModel.applicationDetail.application.user.userProfiles[0]" applicant-user="ppCtl.representativeOfficeModel.applicationDetail.application.user"></applicant>
            </uib-accordion-group>
            <br />
            <uib-accordion-group is-open="estDetails.open" panel-class="panel-primary" class="form-horizontal" ng-if='vm.userTypeCode !="01"'>
                <uib-accordion-heading>
                    {{'completeProfile.establishmentDetails' | translate}}
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': estDetails.open, 'glyphicon-chevron-right': !estDetails.open}"></i>
                </uib-accordion-heading>
                <br />
                <applicant-establishment ng-model="ppCtl.representativeOfficeModel.applicationDetail.application.establishment" application-detail="ppCtl.representativeOfficeModel.applicationDetail"></applicant-establishment>
            </uib-accordion-group>
            <br />
            <uib-accordion-group is-open="ppCtl.partnerOpen" panel-class="panel-primary" ng-if='ppCtl.userTypeCode !="01"'>
                <uib-accordion-heading>
                    {{'completeProfile.partnerDetails' | translate}}
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ppCtl.partnerOpen, 'glyphicon-chevron-right': !vm.partnerOpen}"></i>
                </uib-accordion-heading>
                <div ng-if="ppCtl.dtPartnerOptions">
                    <table datatable="" class="row-border hover" dt-options="ppCtl.dtPartnerOptions" dt-columns="ppCtl.dtPartnerColumns"
                           dt-instance="ppCtl.dtPartnerInstance" width="100%"></table>
                </div>
            </uib-accordion-group>
            <br />
            <uib-accordion-group is-open="ppCtl.applicationOpen" panel-class="panel-primary" class="form-horizontal">
                <uib-accordion-heading>
                    {{'general.applicationDetails' | translate}}
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ppCtl.applicationOpen, 'glyphicon-chevron-right': !ppCtl.applicationOpen}"></i>
                </uib-accordion-heading>
                <br />
                <div class="row form-group">
                    <div class="col-sm-12">
                        <establishment ng-model="ppCtl.representativeOfficeModel.establishment" is-foreigner="true" is-preview="true"></establishment>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="box-placeholder b0 bg-gray-lighter">
                            <h3 data-translate="photoEquipment.equipmentTeam"></h3>
                            <div class="row">
                                <div class="col-md-12" ng-if="ppCtl.teamMemberDt.dtOptions">
                                    <table datatable="" class="row-border hover" dt-options="ppCtl.teamMemberDt.dtOptions" dt-columns="ppCtl.teamMemberDt.dtColumns"
                                           dt-instance="ppCtl.teamMemberDt.dtInstance" width="100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <service-fee ng-model="ppCtl.serviceFeesObj" class="col-sm-12" is-review="true"></service-fee>
                </div>
            </uib-accordion-group>
        </uib-accordion>

        <!-- START panel-->
        <div class="panel panel-primary">
            <div class="panel-body">
                <form role="form" class="mb-lg form-horizontal" name="Form">
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            <workflow-action ng-model="ppCtl.representativeOfficeModel.applicationDetail" application="ppCtl.representativeOfficeModel.applicationDetail.application"></workflow-action>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- END panel-->
    </div><!-- The Gallery as lightbox dialog, should be a child element of the document body-->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides">
            <h3 class="title"></h3><a class="prev">&lsaquo;</a><a class="next">&rsaquo;</a><a class="close">&times;</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
    </div>
</div>