
    <div class="modal-header">
        <h4 id="myModalLabel" class="modal-title" data-translate="verifyPayment.pageTitle"></h4>
    </div>
    <div class="modal-body">
        <form role="form" class="mb-lg form-horizontal">
            <div class="loader-container">
                <div class="sk-cube-grid">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                    <div class="sk-cube sk-cube3"></div>
                    <div class="sk-cube sk-cube4"></div>
                    <div class="sk-cube sk-cube5"></div>
                    <div class="sk-cube sk-cube6"></div>
                    <div class="sk-cube sk-cube7"></div>
                    <div class="sk-cube sk-cube8"></div>
                    <div class="sk-cube sk-cube9"></div>
                </div>
                <div class="loader-title" data-translate="verifyPayment.pleaseWait"></div>
                <div class="loader-message" data-translate="verifyPayment.verifyMsg"></div>
            </div>
        </form>
    </div>
