
<h3>{{'systemManagement.vacations' | translate}}</h3>
<div class="row">
    <div class="col-md-4 pull-left">
        <div class="mr mb-sm btn btn-warning pull-left" ng-click="open('md')">
            {{'systemManagement.addNewVacation' | translate}}
        </div>
    </div>
</div>
<div class="row">
    <div>
        <table style="border-style: solid;border-width:1px;border-color: #e6e9ee;" ng-if="authorized" datatable="" ng-class="{'row-border hover color-blind' : app.layout.isColorBlind, 'row-border hover' : !app.layout.isColorBlind}"
               dt-options="dtApplicationOptions" dt-columns="dtApplicationColumns"
               dt-instance="dtApplicationInstance" width="100%" id="dayOffDatatable"></table>
    </div>
</div>