

<div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="closeModal()">×</button>
    <h4 id="myModalLabel" class="modal-title" data-translate="completeProfile.addNewBranch" ng-if="userType.id != 5"></h4>
    <h4 id="myModalLabel" class="modal-title" data-translate="completeProfile.addNewEstablishment" ng-if="userType.id == 5"></h4>
</div>

<div class="modal-body">
    <form role="form" class="mb-lg form-horizontal" name="addBranchForm">
        <div class="row form-group">
            <label class="col-sm-3 control-label"><span class="text-danger">* </span><span>{{'completeProfile.establishmentName' | translate}}</span></label>
            <div class="col-sm-9">
                <input ng-model="establishment.nameEn" type="text" placeholder="{{'completeProfile.establishmentName' | translate}}" autocomplete="off" class="form-control"
                       validator="required" name="fullName" />
            </div>
        </div>
        <div class="row form-group" ng-if="userType.id!= 5">
            <label class="col-sm-3 control-label"><span class="text-danger">* </span><span>{{'address.Emirate' | translate}}</span></label>
            <div class="col-sm-9">
                <ui-select ng-model="establishment.establishmentEmirate" theme="bootstrap" validator="required" name="establishmentEmirate" class="text-left">
                    <ui-select-match placeholder="{{'completeProfile.selectEmirate' | translate}}">{{$select.selected | localizeString}}</ui-select-match>
                    <ui-select-choices repeat="emirate in emirates | propsFilter: {nameAr: $select.search, nameEn: $select.search,}">
                        <span ng-bind-html="emirate | localizeString | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="row form-group" ng-if="userType.id!= 5">
            <label class="col-sm-3 control-label"><span class="text-danger">* </span><span>{{'completeProfile.Authority' | translate}}</span></label>
            <div class="col-sm-9">
                <ui-select ng-model="establishment.authority" theme="bootstrap" class="text-left" validator="required" name="Authority">
                    <ui-select-match placeholder="{{'completeProfile.SelectAuthority' | translate}}">{{$select.selected | localizeString}}</ui-select-match>
                    <ui-select-choices repeat="authority in establishment.establishmentEmirate.authorities | filter:{isShown: true} | propsFilter: {nameAr: $select.search, nameEn: $select.search}">
                        <span ng-bind-html="authority | localizeString | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <!--<div class="row form-group" ng-if="userType.id!= 5">
        <label class="col-sm-3 control-label">{{'completeProfile.HasValidLicense' | translate}}</label>
        <div class="col-sm-2">
            <label class="switch switch-lg">
                <input type="checkbox" ng-model="establishment.hasValidLicense" placeholder="Emirates Id" ng-checked=true>
                <span></span>
            </label>
        </div>
    </div>-->
        <div class="row form-group">
            <label class="col-sm-3 control-label">
                <span class="text-danger">* </span>
                <span>{{('completeProfile.LicenseNumber' | translate)}}</span>
            </label>

            <!--<div class="col-sm-9">
        <input ng-model="establishment.licenseNumber" type="text" autocomplete="off" class="form-control" validator="required" name="licenseNumber" maxlength="12"
               placeholder="{{('completeProfile.LicenseNumber' | translate)}}" ng-blur="CheckLicenseNumber()" />
    </div>-->

            <div class="col-sm-9" ng-if="userType.id== 5">
                <input ng-model="establishment.licenseNumber" type="text" autocomplete="off" class="form-control" validator="required" name="licenseNumber" maxlength="13"
                      placeholder="{{('completeProfile.LicenseNumber' | translate)}}" ng-blur="CheckLicenseNumber()" />
            </div>

            <div class="col-sm-9" ng-if="userType.id!= 5">
                <input ng-if="establishment.establishmentEmirate.code == 'AD'" ng-change="onLicenseChanged()" ng-model="establishment.licenseNumber" mask="DD-999999999" mask-restrict='select' mask-validate='false' mask-clean='false' type="text" autocomplete="off" style="text-transform:uppercase" class="form-control" name="licenseNumber" validator="required"
                       placeholder="{{('completeProfile.LicenseNumber' | translate)}}" ng-blur="CheckLicenseNumber()" />
                <span ng-if="establishment.establishmentEmirate.code == 'AD'" style="color:red" ng-hide="isValidLicense">License is not valid format.</span>

                <input ng-if="establishment.establishmentEmirate.code != 'AD'" ng-model="establishment.licenseNumber" mask="999999999999" mask-clean='true' mask-restrict='reject' mask-validate='false' type="text" autocomplete="off" class="form-control" name="licenseNumber" validator="required" maxlength="12"
                       placeholder="{{('completeProfile.LicenseNumber' | translate)}}" ng-blur="CheckLicenseNumber()" />
            </div>

        </div>
        <div class="row form-group">
            <label class="col-sm-3 control-label"><span class="text-danger">* </span>{{ ('completeProfile.UploadLicenseCopy' | translate)}}</label>
            <div class="col-sm-9">
                <uploading-files copyurl="establishment.licenseCopyUrl" isrequired="true" copyurlfullpath="establishment.licenseCopyUrlFullPath" url="licenseUrl"></uploading-files>
            </div>
        </div>
        <div class="row form-group" ng-if="userType.id!= 5">
            <label class="col-sm-3 control-label"><span class="text-danger">* </span>{{'completeProfile.TenancyContract' | translate}}</label>
            <div class="col-sm-9">
                <p class="input-group hackyhack">
                    <input type="text" uib-datepicker-popup="{{format}}" ng-model="establishment.tenancyContractEndDate" is-open="tenancyContractDatePopup.opened" min-date="false"
                           max-date="false" uib-datepicker-options="dateOptions" date-disabled="disabled(date, mode)" validator="required" close-text="Close" class="form-control" disabled />
                    <span class="input-group-btn">
                        <button type="button" ng-click="openTenancyContractDatePopup($event)" class="btn btn-default">
                            <em class="fa fa-calendar"></em>
                        </button>
                    </span>
                </p>
            </div>
        </div>
        <div class="row form-group" ng-if="userType.id != 5">
            <label class="col-sm-3 control-label"><span class="text-danger">* </span>{{'completeProfile.UploadTenancyContract' | translate}}</label>
            <div class="col-sm-9">
                <uploading-files copyurl="establishment.tenancyContractCopyUrl" isrequired="true" copyurlfullpath="establishment.tenancyContractCopyUrlFullPath" url="tenancyUrl"></uploading-files>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-sm-3 control-label">
                <span>{{'completeProfile.MemorandumOfAssociation' | translate}}</span>
            </label>
            <div class="col-sm-9">
                <uploading-files copyUrl="establishment.memorandumOfAssociationCopyUrl" copyUrlFullPath="establishment.memorandumOfAssociationCopyUrlFullPath" url="licenseUrl"></uploading-files>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-3 control-label">
                <span>{{'completeProfile.PowerOfAttorney' | translate}}</span>
            </label>
            <div class="col-sm-9">
                <uploading-files copyUrl="establishment.powerOfAttorneyCopyUrl" copyUrlFullPath="establishment.powerOfAttorneyCopyUrlFullPath" url="licenseUrl"></uploading-files>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-sm-3 control-label">
                <span>{{'completeProfile.Statement' | translate}}</span>
            </label>
            <div class="col-sm-9">
                <uploading-files copyUrl="establishment.statementCopyUrl" copyUrlFullPath="establishment.statementCopyUrlFullPath" url="licenseUrl"></uploading-files>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-md-12">
                <profile-address establishment-emirate="establishment.establishmentEmirate" ng-model="establishment.address" is-establishment="true"></profile-address>
            </div>

            <div class="row form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <button type="button" class="btn btn-primary" ng-click="getLocation()">
                        {{'visit.getLocation' | translate}}&nbsp;
                        <span class="fa fa-location-arrow"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button ng-click="ok()" class="btn btn-primary" type="submit" validation-submit="addBranchForm" ng-disabled="!isValidLicense" data-translate="general.ok"></button>
    <button ng-click="closeModal()" class="btn btn-warning" data-translate="general.cancel"></button>
</div>
