<!--<a href="https://eservices.uaemc.gov.ae/#/page/login"><img src="app/img/UAEMC_RGB_logo.svg" alt="Image" class="center-block img-rounded logo-image" style="max-height:100px" /></a>
    -->
<div ui-view="" autoscroll="false" class="ng-fadeOutZoom ng-fluid"></div>
<!-- <div class="container container-lg animated fadeInDown">
    <div class="center-block mt-xl">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" style="float:right !important;">
                    <label ng-repeat="(localeId, langName) in language.available" ng-model="radioModel" uib-btn-radio="'Left'" ng-click="language.set(localeId, $event)"
                           class="btn btn-default ng-pristine ng-untouched ng-valid active"
                           ng-style="langName == 'English'? {'float':'left', 'font-family': 'Roboto'}: {'float':'right', 'font-family': 'Droid Arabic Kufi'}">{{langName}}</label>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--<div ng-include="'app/views/page.footer.html'" class="p-lg text-center"></div>-->
